
# PlanAhead Generated physical constraints 

NET "clkin" LOC = P57;
NET "reset" LOC = P47;
NET "instruction[7]" LOC = P130;
NET "instruction[6]" LOC = P129;
NET "instruction[5]" LOC = P127;
NET "instruction[4]" LOC = P126;
NET "instruction[3]" LOC = P125;
NET "instruction[2]" LOC = P124;
NET "instruction[1]" LOC = P121;
NET "instruction[0]" LOC = P120;
NET "pc[7]" LOC = P105;
NET "pc[6]" LOC = P104;
NET "pc[5]" LOC = P103;
NET "pc[4]" LOC = P102;
NET "pc[3]" LOC = P101;
NET "pc[2]" LOC = P99;
NET "pc[1]" LOC = P98;
NET "pc[0]" LOC = P96;
NET "display_ten[6]" LOC = P10;
NET "display_ten[5]" LOC = P8;
NET "display_ten[4]" LOC = P7;
NET "display_ten[3]" LOC = P6;
NET "display_ten[2]" LOC = P5;
NET "display_ten[1]" LOC = P4;
NET "display_ten[0]" LOC = P3;
NET "display_one[6]" LOC = P19;
NET "display_one[5]" LOC = P18;
NET "display_one[4]" LOC = P16;
NET "display_one[3]" LOC = P15;
NET "display_one[2]" LOC = P13;
NET "display_one[1]" LOC = P12;
NET "display_one[0]" LOC = P11;
NET "display_op[6]" LOC = P29;
NET "display_op[5]" LOC = P28;
NET "display_op[4]" LOC = P27;
NET "display_op[3]" LOC = P25;
NET "display_op[2]" LOC = P24;
NET "display_op[1]" LOC = P21;
NET "display_op[0]" LOC = P20;
NET "display_rs[6]" LOC = P64;
NET "display_rs[5]" LOC = P63;
NET "display_rs[4]" LOC = P62;
NET "display_rs[3]" LOC = P60;
NET "display_rs[2]" LOC = P59;
NET "display_rs[1]" LOC = P58;
NET "display_rs[0]" LOC = P55;
NET "display_rt[6]" LOC = P76;
NET "display_rt[5]" LOC = P75;
NET "display_rt[4]" LOC = P72;
NET "display_rt[3]" LOC = P71;
NET "display_rt[2]" LOC = P70;
NET "display_rt[1]" LOC = P69;
NET "display_rt[0]" LOC = P68;
NET "display_rd[6]" LOC = P85;
NET "display_rd[5]" LOC = P84;
NET "display_rd[4]" LOC = P83;
NET "display_rd[3]" LOC = P82;
NET "display_rd[2]" LOC = P79;
NET "display_rd[1]" LOC = P78;
NET "display_rd[0]" LOC = P77;
NET "display_worm[5]" LOC = P87;
NET "display_worm[4]" LOC = P88;
NET "display_worm[3]" LOC = P90;
NET "display_worm[2]" LOC = P91;
NET "display_worm[1]" LOC = P92;
NET "display_worm[0]" LOC = P93;
